<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371322213377-ig4loslibrqhuj7k9efa0b7folu1j4pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371322213377-ig4loslibrqhuj7k9efa0b7folu1j4pk</string>
	<key>API_KEY</key>
	<string>AIzaSyBsXihtrUFmG8hrvLGUAFMB-r2CR-sctgI</string>
	<key>GCM_SENDER_ID</key>
	<string>371322213377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterReddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-21d9f</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-21d9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371322213377:ios:2081dec9c57e1aa291dc00</string>
</dict>
</plist>